name: CI

on: 
  push:
    branches: [dev]

jobs:
  build:

    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        name: [
          ubuntu-24.04-clang-18
        ]

        include:
          - name: ubuntu-24.04-clang-18
            os: ubuntu-24.04
            compiler: clang
            version: "18"

    steps:
    - uses: actions/checkout@v4
    - name:
      run: sudo apt-get -y install liburing-dev;
           make CXX=clang++
